<div class="contain w-44 py-8  text-white text-sm">
    <div class="w-40 m-auto ">
        <div class="flex items-center  justify-between bg-slate-700 p-1">
            <div> <i class="fas fa-home"></i> Dashboard</div> <i class="text-xs fa-solid fa-less-than "></i>
        </div>
        <div class="flex items-center     p-1">
            <div> <i class="fa-solid fa-caret-right"></i> Analysis</div>
        </div>
        <div class="flex items-center    p-1 ">
            <div> <i class="fa-solid fa-caret-right"></i> eCommerce</div>
        </div>
    </div>
    <div class="w-32 m-auto ">
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-solid fa-square-poll-horizontal"></i> Widgets</div> <i
                class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-solid fa-shapes"></i> Apps</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
    </div>
    <div class=" max-w-40 m-auto my-2">
        UI ELEMENTS
    </div>
    <div class="w-40 m-auto  p-1">
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-solid fa-square-poll-horizontal"></i> Cards</div> <i
                class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-solid fa-cash-register"></i> eCommerce</div> <i
                class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-solid fa-web-awesome"></i> Components</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between  p-1 ">
            <div> <i class="fa-solid fa-icons"></i> Icons</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
    </div>
    <div class=" max-w-40 m-auto  my-2">
        FORMS & TABLES
    </div>
    <div class="w-40 m-auto ">
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-regular fa-credit-card"></i> Cards</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-brands fa-wpforms"></i> Forms</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between   p-1">
            <div><i class="fa-solid fa-table"></i> Tables</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
    </div>
    <div class=" max-w-40 m-auto  my-2">
        PAGES
    </div>
    <div class="w-40 m-auto ">
        <div class="flex items-center justify-between  p-1 ">
            <div> <i class="fa-solid fa-shield-halved"></i> Authentication</div> <i
                class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between  p-1 ">
            <div> <i class="fa-solid fa-user"></i> User Profile</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-solid fa-timeline"></i> Timeline</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>

    </div>

    <div class=" max-w-40 m-auto  my-2">
        OTHERS
    </div>
    <div class="w-40 m-auto ">
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-solid fa-chart-pie"></i> Charts</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-solid fa-map-location-dot"></i> Maps</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between  p-1 ">
            <div> <i class="fa-solid fa-bars"></i> Menu Levels</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>
        <div class="flex items-center justify-between   p-1">
            <div> <i class="fa-solid fa-book"></i> Documentation</div> <i class="text-xs fa-solid fa-less-than"></i>
        </div>

    </div>
</div>